body{
	background-color: #000;
	color: #fff;
	font-family: monospace;
}
.section{
	width: 100%;
}
.main-title{
	font-size: xx-large;
}
.page{
	padding: 1rem;
}
.btns{
    text-align: center;
    margin-top: 3rem;
}
.btn{
	margin: 1rem;
}