body{
	background-color: #000;
	color: #fff;
	font-family: monospace;
}
a:link, a:active, a:visited{
	color: #4CAF50;
}
.section{
	width: 100%;
}
.main-title{
	font-size: xx-large;
}
.page{
	padding: 1rem;
}
.btns{
    text-align: center;
    margin-top: 3rem;
}
.btn{
    margin: 1rem;
    border-style: dashed;
    border-color: #4caf50;
    color: #4CAF50;
    background-color: #000;
    font-size: 1rem;
    padding: 15px;
    font-family: monospace;
}