{{- with $.Site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <header class="entry-header">
        <h1>Hello World 👋</h1>
    </header>

    <section class="entry-content">
      <p> My name is Arjun Mahishi. I am currently a Software engineer at
      <a href="https://last9.io">Last9 Inc</a>. I throughly enjoy the art and
      craft that goes behind building software. I spend way too much time
      <a href="https://github.com/arjunmahishi/dotfiles">configuring my tools</a> -
      especially Vim and Tmux. Love writing clean, testable and maintainable
      code.
      </p><br>

      <p> Apart from being an engineer, I'm a closeted musician. I've been
      playing the guitar for a while now (since around 2009 I think). Recently I
      started venturing into creating music with more than just a guitar. So,
      most weekends you'll see me locked in a room, Live looping with my guitars
      and a MIDI keyboard. If you are interested to see some of those, head over to 
      <a href="https://www.youtube.com/channel/UC9eTgNyhtPaVf7h-YEo-R2w">arjunmahishi.mp3</a>
      </p>
    </section>

    <footer class="entry-footer">
        {{ partial "social_icons.html" $.Site.Params.socialIcons }}
    </footer>
</article>
{{- end -}}
